button{
    height: 60px;
    width: 60px;

}

#cuadroLogs{
    width: 200px;
    height: 50px;
    border: 1px solid black;
    background-color: black;
    font-weight: bolder;

}

.resultado{
    display: flex;
    flex-direction: column;
}
#resultado{
    width: 100px;
    height: 30px;
    font-size: 50px;
}