
.personaje{
    height: 90px;
    width: 90px;
   
    left: 500px;
    top: 200px;
    position: absolute;
    transition: all 1s;
    
}
.pajaro{
    height: 90px;
    width: 90px;
   
    left: 500px;
    top: 200px;
    position: absolute;
    transition: all 1s;
    left: 500px;
    top: 800px;

}

button{
    height: 50px;
    width: 200px;
    font-size: 30px;

}

body{
    background-image: url(earth-texture_1110-696.webp);
    
   
}