input{
    width: 400px;
    height: 50px;
    margin-left: 900px;
    font-size: 30px;
    margin-top: 10px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    background-color: blue;
}
.contenedor_ppa1{
    height: 950px;
    width: 2200px;
    margin-top: 2em;
    border: 1px black solid;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 2s ;
    margin-left: 41px;
}