form{
   display: block;  
   font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
   font-weight: bolder;
}

input{
    margin-bottom: 18px;
}
select{
    margin-bottom: 18px;
}

#sprite{
    width: 90px;
    height: 90px;
    z-index:100;
    position: absolute;
}
#resultado{
   width:1800px;
   height:300px;
   position: relative;
}
#contenedor{
    width:1800px;
   height:600px;
}