@font-face{
  font-family: '8bit';
  src: url(../fonts/PressStart2P-vaV7.ttf) format('truetype');
}

html{
    font-family: '8bit';    
}

.nave{
    background-image: url(sprites/galagaUP.png);
    background-size: 90px;
    background-position: center;
    width: 50px;
    height: 50px;
    top: 600px;
    left: 480px;
    position: absolute;
}

#contenedor{
    left: 17%;
    border: 3px solid black;
    width: 1000px;
    height: 700px;
    position: absolute;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
}

input{
    font-family: '8bit';
    font-size: 30px;
}

.meteoro{
    width: 90px;
    height: 90px;
    background-image: url(sprites/meteorSprite.png);
    position:absolute;
    background-size: cover;
}

.bala{
    background-color: black;
    width: 9px;
    height: 30px;
}

td{
    font-size: 10px;
    padding: 30px 0;
}