@font-face{
  font-family: 'newRodinProB';
  src: url(../fonts/FOT-NewRodin\ Pro\ B.otf) format('opentype');
}
body {
    font-family: 'newRodinProB', sans-serif;
    font-weight: bolder;    
}
.key{
    display: flex;        
    border: 3px solid black;
    border-radius: 22px;
    width: 190px;
    height: 190px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 70px;
}
.keypad{
    display: flex;
    gap: 9px;
    top: 35%;
    left: 30%;
    position: absolute;
}
.instrucciones{
    top: 27%;
    left: 30%;
    position: absolute;
}
#infoGUI{
    left: 44%;
    top: 64%;
    position: absolute;
}
