@font-face{
  font-family: "newRodin";
  src: url(fuentes/FOT-NewRodin\ Pro\ M.otf) format("opentype");
}
@font-face{
  font-family: "newRodinEB";
  src: url(fuentes/FOT-NewRodin\ Pro\ EB.otf) format("opentype");
}
*{   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  header {
    background-color: #285f41;      
    font-family: "newRodin";
    font-size: 16px;
    color: #222;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
    height: -900px;
    width:4000px;
    border: 1px solid white;
    position: fixed;
    z-index: 1000;
    margin-left: -9px;
   
  }

  .logo image{
    padding-left: -900px;
  }
  
  .barraHeader{
    display: flex;
    align-items: center;  
    background-color: #285f41;
    height: -900px;
    width: 935px; 
  }

  .secciones{
    margin-left: -27px; 
  }
 
  .secciones ul{
    list-style: none;
    gap: 20px;
    display:flex;    
  }

  .secciones a{
    color: white;
    text-decoration: none;
    display: block;
    transition: background 0.3s;
  }

  .secciones a:hover{
    background-color: #2e8b57;;    
  }
  
  .menuRaiz{
    position: relative;
  }
  .menuRaiz ul{
    position: absolute;      
    display: none;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    z-index: 1000;  
    background-color: #285f41;      
  }
  
  .menuRaiz:hover .submenu{
    display: flex;
  }

  .submenu a{
    color: white;
    background-size: 900px 900px;
  }
 
  
  .submenu{
    text-align: center;
    width: 130px;
  }
  .menuRaiz ul{
    padding-top: 16px;
  }

  .barraBusqueda{
    display: flex;
    padding-left: 16px;
    padding-top: 25px;       
  }

  .barraBusqueda button{
    border: none;
    padding-left: 9px; 
    background-color:#285f41;
    margin-top: -19px;
    margin-right: -6px;  
  }

  .barraBusqueda input{
    width: 350px;
    height: 30px;
          
  }

  .listaPadreHeader{
    display: flex;
    height: 80px;
  }
  
  .iconosAcciones{
    display: flex;
    gap: 19px;
    padding-left: 20px;
    padding-top: 5px;
    list-style: none;
    text-align: center;
  }

  .iconosAcciones i{
    color: white;
    font-size: 25px;
    padding-top: 20px;
    margin-left: -3px;

  }
  
  .login{
    background-color: white;
    border: none;
  }
  .carrito{
    background-color: white;
    border: none;
    align-content: center;
  }

  .bloqueContiguo{
    display: flex;

  }

  .galeria{
    border: none;
    background-color:#285f41;
  }
  .login{
    background-color:#285f41;
  }
  .carrito{
    background-color:#285f41;
  }

  .centro{
    position: relative;

  }

  .fondoCaiman img{
    width: 100%;
    height: 530px;
  
  }
  .textoEncima{
    font-family: "NewRodinEB";
    font-size: 120px;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 40%;
    left: 3%;
    line-height: 1.1;
    z-index: 6;
  }
  .gator img{
    width: 400px;
    transform: scaleX(-1);
    position: absolute;
    top: 47%;
    left: 73%;
    z-index: 7;    

  }  
  
  .mujerNegro img{
    width: 370px;
    position: absolute;
    top: -4.6%;
    left: 46%;
    z-index: 5;
  }

  .hombreBlanco img{
    width: 250px;
    position: absolute;
    top: 30%; 
    left: 67%;          
  }
 
  .negroBlancoSentado img{
    width: 180px;
    position: absolute;
    top: 41%; 
    left: 80%;       
  }
  
  
  
  .textoSeccionNoticias a{
    font-family: "newRodin";
    font-size: 15px;
    color: black;
    font-weight:800;    
    text-decoration: none;     
  }

  .textoSeccionNoticias a:hover{
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 2px;
  }
  .seccion1 li{
    margin: 20px 0px;
    line-height: 1.4;
  }

  .seccion1 ul{
    list-style-type: none;
  }
  .seccion2 li{
    margin: 20px 0px;
    line-height: 1.4;
  }

  .seccion2 ul{
    list-style-type: none;
  }
  .fechas{
    font-family: "NewRodin";
    font-size: 13px;
  }

  .seccionNoticias div{
    display: flex;
    gap: 30px;  
  }
  .seccionNoticias{
    padding-left: 17%;
  }
  
  .lupa{
    font-size: 25px;
    color: white;
    padding-left: 20px ;
  }

  footer{
    background-color:#285f41;
    height: 300px;
    position: relative;
  }
  
  .followUs ul{
    display: flex;
    gap: 22px;
    list-style-type: none;
  }
  .lowcostAños img{
    width: 160px;
      
  }
  .lowcostAños{
    text-align: center;
    position: absolute;
    top: 51%;
  }
  .primeraLista{
    font-family: "newRodinEB";
    color: white;
    position: absolute;
    top: 33px;
    font-size: smaller; 
    left: 3%;
  }
  .primeraLista ul{
    list-style-type: none;
  }
  .primeraLista li{
    line-height: 50px;    
  }
  .segundasListas{
    position: absolute;
    display: flex;
    font-family:"NewRodin";
    gap: 50px;
    left: 45%;
    top: 40px;
    font-size: smaller;
    color: white;   
  }
  .segundasListas ul{
    list-style-type: none;
  }
  .segundasListas a{
    text-decoration: none;
    color: white;
  }
  .encabezadosFooter{
    font-family: "newRodinEB";
    color: rgb(255, 255, 255);
    font-size: small;
  }
  .finalFooter ul{
    display: flex;
    position: absolute;
    font-family: "NewRodin";
    font-size: smaller;
    list-style-type: none;
    gap:30px;
    color: whitesmoke;
    top: 85%;
    left: 43%;
  }
  .separador{
    border: 3px solid rgb(163, 123, 54);    
  }
  .lineaFooter{
    position: absolute;
    top: 84%;
    left: 7.4%;
  }
  .lineaFooter hr{
    border: 1px solid rgb(163, 123, 54);
    width: 1300px;   
  }

 .iconosFooter img:hover{
  width: 60px;
  z-index: 1000;
 }

 .cuadroSiguiente{  
  font-size: 25px;
  color: rgb(255, 255, 255);
  font-family: "NewRodin";  
  text-align: center;
  z-index: 8000;
   
 }
 .cuadroSiguiente {
    background-color:#285f41;     
    color: white;                
    padding: 10px 20px;
    padding-top: 0px;
    padding-bottom: 0px;               
    border-radius: 8px;        
    width: fit-content;          
    margin: 20px auto;           
    text-align: center;                
    font-family: "NewRodin";
    font-size:large;
}
.cuadroSiguiente a{
  text-decoration: none;
  color: white;
}
.cuadroSiguiente:hover{
  font-weight: bolder;
}





  
 
  
  