.circulo{
    width: 200px;
    aspect-ratio: 1/1;
    border: 9px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circuloRojo{
    width: 200px;
    aspect-ratio: 1/1;
    border: 9px solid red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cuadrado{
    width: 200px;
    height: 200px;
    border: 9px solid blue;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: pink;
}