@font-face{
  font-family: 'newRodinProB';
  src: url(../fonts/FOT-NewRodin\ Pro\ B.otf) format('opentype');
}

body {
    font-family: 'newRodinProB', sans-serif;
    font-weight: bolder;
    font-size: 20px;
}

#infoGUI{
    text-align: center;
    margin-top: 35%;
}

#divInteractivo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;    
    width: 600px;
    height: 500px;
    position: absolute;
    margin-top: -32%;
    margin-left: 33%;
}


#divInteractivo img{
    pointer-events: none;
}